body{
    margin: 10px;
    text-align: center;
    background-color: crimson;
    color : white;
    justify-content: center;
    align-items: center;
}
#box{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
input{
    width: 30%;
    align-self: center;
    font-size: 25px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0 5px white;
}
input:focus{
    outline: 0px;
}
button{
    width: 30%;
    align-self: center;
    margin: 20px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0 5px black;
}

#box h1{
    font-size: 50px;
    margin: 50px;
}
#data{
    margin: 10px;
}

 
